.header {
    background-color: #0dcaf0;
}

.navbar-collapse {
    justify-content: end;
}

.nav-item {
    color: white;
}

.navbar-toggle-icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2030'%3E%3Cpath%20stroke='rgba%28255,%20255,%20255,%200.55%29'%20stroke-linecap='round'%20stroke-miterlimit='10'%20stroke-width='2'%20d='M4%207h22M4%2015h22M4%2023h22'/%3E%3C/svg%3E");
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0dcaf0;
    padding: 20px;
    color: white;
}

.email {
    display: block;
}
